<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Selenium">
        <classes>
            <class name="daspratick.com.selenium1.Selenium3"/>
            <class name="daspratick.com.selenium1.selenium2"/>
            <class name="daspratick.com.selenium1.seleniumtest1"/>
        </classes>
    </test>
</suite>